:root {
    --primary-dark: #ff962d;
    --primary-light: #ffc16a;
    --white: #f6f6fb;
    --secondary-blue: #0f1220;
    --background-black-dark: #0a0b12;
    --background-black-light: #10111c;
  }
  
  @font-face {
    font-family: goldman;
    src: url(./Fonts/Goldman-Regular.ttf);
    font-weight: normal;
  }

  @font-face {
    font-family: goldman;
    src: url(./Fonts/Goldman-Bold.ttf);
    font-weight: bold;
  }
  
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-Black.ttf);
    font-weight: 900;
  }
  
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
  }
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-Medium.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-Light.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-ExtraLight.ttf);
    font-weight: 200;
  }
  @font-face {
    font-family: montserrat;
    src: url(./Fonts/Montserrat-Thin.ttf);
    font-weight: 100;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(165deg ,var(--background-black-dark), var(--background-black-light));
  }